// Colors
$colorPrimary: hsl(180, 29%, 50%);
$colorSecondary: hsl(180, 14%, 20%);
$colorBackground: hsl(180, 52%, 96%);
$colorFilterTablets: hsl(180, 31%, 95%);
$colorDarkCyan1: hsl(180, 8%, 52%);
$colorWhite: #fff;

// Fonts
$fontSize15px: 15px;

$fontWeight500: 500;
$fontWeight700: 700;

// Breakpoints
$mobile: 375px;
$desktop: 1440px;
