// Colors
$colorPrimary: hsl(180, 29%, 50%);
$colorSecondary: hsl(180, 14%, 20%);
$colorTertiary: hsl(180, 8%, 52%);
$colorQuaternary: hsl(180, 31%, 95%);
$colorBackground: hsl(180, 52%, 96%);
$colorWhite: #fff;
$colorBoxShadow: hsla(180, 29%, 50%, 16%);

// Fonts
$fontSize15px: 15px;

$fontWeight500: 500;
$fontWeight600: 600;
$fontWeight700: 700;

// Breakpoints
$mobile: 375px;
$desktop: 1440px;
