@import "./_variables";

@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@500;600;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Spartan", sans-serif;
  font-size: $fontSize15px;
  font-weight: $fontWeight500;
  background-color: $colorBackground;
}

a {
  color: $colorPrimary;
  text-decoration: none;
}

h1 {
  font-size: 2.6em;
}
